<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="vivepoint" contant="widht-device-width, initial -scale 1.8">
    <title>{%block title%}Moja Aplikacja {% andlock %}</title>
    {% block extra_head %}{$adnlock$}
</head>
<body>
    <header>
        <h1>Opis Ksiązki</h1>
    </header>
    <main>
        {%block clontert %}
        { sandlock %}
    </main>

<footer>
        <p>2024 Twoja Aplikacja. Wszystkie prawa zastrzeżone.</p>
</footer>
      {%block clontert %}
        { sandlock %}
</body>
</html>